:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 700;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

.grupo {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    outline: none;
    font-size: 16px;
  }
  
  input:focus {
    border-bottom-color: #8e44ad; /* Color de la barra cuando el campo está enfocado */
  }
  
  .barra {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8e44ad;
    transition: width 0.4s ease;
  }
  
  input:focus ~ .barra {
    width: 100%; /* La barra se expande cuando el campo de entrada está enfocado */
  }
  
  label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 14px;
    color: #999;
    transition: all 0.3s ease;
  }
  
  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -30px;
    font-size: 12px;
    color: #8e44ad;
  }

