/* General */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  /* NavBar */
  nav {
    position: fixed; /* Fija el elemento en la pantalla */
  top: 0; /* Asegura que esté en la parte superior */
  left: 0;
  width: 100%; /* Se extiende a todo el ancho */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo opcional */
  padding: 10px 20px; /* Espaciado interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para el efecto */
  }
  
  .enlace {
    position: relative;
  }
  
  .logo {
    height: 60px;
    text-align: center;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  li a.active,
  li a:hover {
    background: #f5331e;
    transition: 0.5s;
  }
  
  /* Botón de menú */
  .titulo-imagen {
    font-family: 'Bebas', sans-serif;
    position: absolute;
    top: 50%; /* Posición vertical centrada */
    left: 50%; /* Posición horizontal centrada */
    transform: translate(-110%, -80%); /* Centra el texto perfectamente */
    color: white; /* Color del texto */
    font-size: 4rem; /* Tamaño del título */
    text-align: left; /* Centra el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto para que sea más legible */
  }
  .checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  /* Responsivo */
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  
@font-face {
    font-family: 'Bebas'; /* Nombre de la fuente (puedes elegir el que prefieras) */
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype'); /* Ruta relativa desde el CSS */
    font-weight: normal; /* Opcional: puedes definir bold, light, etc. */
    font-style: normal;  /* Opcional: define normal, italic, etc. */
  }

/* .content-all */
.content-all {
    width: 210px;
    margin: auto;
    /* perspectiva */
    perspective: 600px;
    position: relative;
    margin-top: 50px;
    top: 20px;  /* Ajusta esta propiedad para mover el carrusel un poco más arriba */
    right: 20px;
  }
  
  .content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
  }
  
  .content-carrousel:hover {
    animation-play-state: paused;
    cursor: row-resize;
  }
  
  .content-carrousel figure {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: 300ms;
  }
  
  .content-carrousel figure:hover {
    box-shadow: 0px 0px 0px 0px;
    transition: 300ms;
  }
  
  .content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(300px);}
  .content-carrousel figure:nth-child(2){transform: rotateY(40deg)translateZ(300px);}
  .content-carrousel figure:nth-child(3){transform: rotateY(80deg)translateZ(300px);}
  .content-carrousel figure:nth-child(4){transform: rotateY(120deg)translateZ(300px);}
  .content-carrousel figure:nth-child(5){transform: rotateY(160deg)translateZ(300px);}
  .content-carrousel figure:nth-child(6){transform: rotateY(200deg)translateZ(300px);}
  .content-carrousel figure:nth-child(7){transform: rotateY(240deg)translateZ(300px);}
  .content-carrousel figure:nth-child(8){transform: rotateY(280deg)translateZ(300px);}
  .content-carrousel figure:nth-child(9){transform: rotateY(320deg)translateZ(300px);}
  .content-carrousel figure:nth-child(10){transform: rotateY(360deg)translateZ(300px);}
  /* Y así sucesivamente hasta figure:nth-child(10) */
  
  .content-carrousel img {
    width: 120%;
    transition: all 300ms;
  }
  
  .content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }
  
  @keyframes rotar {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  