@font-face{
	font-family: Klarissa;
	src:url(Fuentes/Klarissa.ttf);
}
@font-face{
	font-family: Komoda;
	src:url(Fuentes/Komoda.ttf);
}

@font-face{
	font-family: SpecialElite;
	src:url(Fuentes/SpecialElite.ttf);
}

@font-face{
	font-family: arial-black;
	src:url(Fuentes/arial-black.ttf);
}

@font-face{
	font-family: AbrilFatface-Regular;
	src:url(Fuentes/AbrilFatface-Regular.ttf);
}

@font-face{
	font-family: Pacifico-Regular;
	src:url(Fuentes/Pacifico-Regular.ttf);
}


@font-face{
	font-family:Atlanta Book;
	src:url(fFuentes/AtlantaBook.ttf);
}

@font-face{
	font-family:WaterBrush-Regular;
	src:url(Fuentes/WaterBrush-Regular.ttf);
}

@font-face{
	font-family:DotGothic16-Regular;
	src:url(Fuentes/DotGothic16-Regular.ttf);
}

@font-face{
	font-family:BebasNeue-Regular;
	src:url(Fuentes/BebasNeue-Regular.ttf);
}

@font-face{
	font-family:DMSerifDisplay-Regular;
	src:url(Fuentes/DMSerifDisplay-Regular.ttf);
}

@font-face{
	font-family:BlackAndWhitePicture-Regular;
	src:url(Fuentes/BlackAndWhitePicture-Regular.ttf);
}

@font-face{
	font-family:austinbold;
	src:url(Fuentes/austinbold.ttf);
}

@font-face{
	font-family:austinbold;
	src:url(Fuentes/austinbold.ttf);
}

@font-face{
	font-family:Langar-Regular;
	src:url(Fuentes/Langar-Regular.ttf);
}

@font-face{
	font-family:Timmana-Regular;
	src:url(Fuentes/Timmana-Regular.ttf);
}

@font-face{
	font-family:Kalam-Regular ;
	src:url(Fuentes/Kalam-Regular.ttf);
}

@font-face{
	font-family:PurplePurse-Regular;
	src:url(Fuentes/PurplePurse-Regular.ttf);
}

@font-face{
	font-family:Risque-Regular;
	src:url(Fuentes/Risque-Regular.ttf);
}

@font-face{
	font-family:JotiOne-Regular;
	src:url(Fuentes/JotiOne-Regular.ttf);
}

@font-face{
	font-family:SofadiOne-Regular;
	src:url(Fuentes/SofadiOne-Regular.ttf);
}
 @font-face{
	font-family:Griffy-Regular;
	src:url(Fuentes/Griffy-Regular.ttf);
}

@font-face{
	font-family:Courgette-Regular;
	src:url(Fuentes/Courgette-Regular.ttf);
}

@font-face{
	font-family:Lemon-Regular;
	src:url(Fuentes/Lemon-Regular.ttf);
}

@font-face{
	font-family:Ribeye-Regular;
	src:url(Fuentes/Ribeye-Regular.ttf);
}

@font-face{
	font-family:AmaticSC-Regular;
	src:url(Fuentes/AmaticSC-Regular.ttf);
}

@font-face{
	font-family:PatrickHand-Regular;
	src:url(Fuentes/PatrickHand-Regular.ttf);
}

@font-face{
	font-family:DancingScript-VariableFont_wght;
	src:url(Fuentes/DancingScript-VariableFont_wght.ttf);
}

@font-face{
	font-family:IrishGrover-Regular ;
	src:url(Fuentes/IrishGrover-Regular.ttf);
}


@font-face{
	font-family:Economica-Regular;
	src:url(Fuentes/Economica-Regular.ttf);
}

@font-face{
	font-family: Arvo-Italic;
	src:url(Fuentes/Arvo-Italic.ttf);
}

@font-face{
	font-family: Arvo-Regular;
	src:url(Fuentes/Arvo-Regular.ttf);
}

@font-face{
	font-family:JosefinSlab-Italic-VariableFont_wght ;
	src:url(Fuentes/JosefinSlab-Italic-VariableFont_wght.ttf);
}

@font-face{
	font-family:JosefinSlab-VariableFont_wght;
	src:url(Fuentes/.JosefinSlab-VariableFont_wght.ttf);
}

@font-face{
    font-family: Bebas;
    src: url(Fuentes/BebasNeue-Regular.ttf);
} 